body{
    padding: 0;
    margin: 0;
}

#header{
    background-color: red;
    padding: 1%;
    color: white;
    font-size: 30pt;
    font-weight: bold;
    text-align: center;
    outline: 2pt solid black;
    text-shadow: 2px 2px 2px black
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 2%;
}

.container img{
    justify-self: center; 
    align-self: center; 
    height: 50vh;
}

.grid-items{
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 2;
    border: 2px solid red;
    font-size: 15pt;
}

.grid-items input{
    width: 100%;
}

#mad-lib {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 2;
    border: 2px solid red;
    font-size: 15pt;
}

.user-input{
    color: red;
}
.mad-lib-input:hover {
    background-color: rgb(248, 172, 172); /* Change the color to your preferred choice */
}

